@charset "utf-8";
@use "reset";

.nav-underline .nav-link.active, .nav-underline .show > .nav-link{color: #333 !important; font-weight: 500;}

.cart_wrap{padding-top: 100px; max-width: 1600px;

    h2{font-weight: 700;}

    .cart_tab{display: block; border-bottom: 1px solid #eee;  

        .nav-item{ display: inline-block; width: 20%;
            a{color: #999; text-decoration: none; font-size: 1.3rem; 
            }
        }  
    }


    .cartTab_wrap{display: flex; flex-wrap: wrap; justify-content: space-between;        

        .allCheck{padding-bottom: 30px; display: flex; align-items: center; justify-content: space-between; 
            width: 70%;
            &>div{
                &:first-of-type{ display: flex; align-items: center;
                    span{font-weight: 500; margin-left: 8px;}
                }
                &:last-of-type{
                    span{text-decoration: underline; color: #999; margin-left: 10px; cursor: pointer;}
                }
            }
        }

        input[type=checkbox]{align-self: flex-start; display: none;
            & + label{display: inline-block; width: 18px; height: 18px; @include solid(1px, #333);
            position: relative; cursor: pointer; border-radius: 5px;}
            &:checked + label::after{content: '✔'; color: #333; font-size: 0.9rem;
            position: absolute; left: 0; top: -3px; width: 18px; height: 18px; text-align: center; }
        }
    
        .cart_product{width: 70%; 

            .c_p_box{width: 100%; display: flex; justify-content: space-between;
                border-top: 1px solid #eee; padding: 40px 0;

                img{width: 11%; min-width: 100px; height: 100%;}
                &>div:first-of-type{width: 70%;
                    p{font-size: 0.9rem; font-weight: 500;}
                    h6{font-weight: 700; font-size: 1.2rem;}
                    p:nth-of-type(2){color: #999;}
                }

                &>div:last-of-type{ width: 7%; display: flex; flex-wrap: wrap; flex-direction: row-reverse;
                    .faTrash{align-self: flex-end; }
                    &>div{width: 100%; display: flex; justify-content: space-between; align-items: center;}
                }
            }
        }
        .cart_priceBox{width: 400px; height: 340px; background: #eee;
            &>div{display: flex; justify-content: space-between; flex-wrap: wrap; padding: 5px 0;

                span{font-weight: 600;}
                &:nth-of-type(3){border-bottom: 1px solid #ccc; padding: 5px 0 30px; margin-bottom: 30px;}

                &:last-of-type{
                    h4{font-weight: 700;}
                    button{width: 100%; @include navyBtn(); padding: 12px 0;
                        border-radius: 30px; font-size: 1.2rem; margin-top: 10px;
                    }
                }
            }
        }
    }



    .today_arrived{
        h5{font-size: 1.1rem; font-weight: 700;}
        li{width: 50%; font-weight: 500; color: #666;}
    }



    .nullProduct{width: 100%; padding: 10% 0;
        &>div{width: 100%; display: flex; flex-wrap: wrap; justify-content: center;
            p{width: 100%; text-align: center; font-size: 1.1rem; font-weight: 600;}
            button{padding: 15px 100px; @include whiteBtn(); border-radius: 30px; 
                font-size: 1.1rem; margin-top: 20px;
            }
        }
    }
}  



.cart_swiperBox{
    h1{font-weight: 700; font-size: 2.2rem; text-align: center;}        
    
    .cart_swiper{width: 100%; padding-left: 20px;
        .swiper-wrapper{ padding: 60px 0;
            img{width: 100%; margin-bottom: 10px; cursor: pointer;}
            h6{font-size: 0.9rem; margin-bottom: 15px;}
            h5{font-weight: 800; font-size: 1.1rem; margin-bottom: 15px;}
            button{width: 100%; height: 40px; margin-top: 30px; border-radius: 20px; @include solid(1px, #ddd);
                background: transparent; font-weight: 500; transition: .5s;
                &:hover{@include solid(1px, #333);}
            }
        }
        .swiper-button-prev{display: none;}
        .swiper-button-next{display: none;}
        .swiper-scrollbar.swiper-scrollbar-horizontal{width: 80%; left: 9%; height: 2px;
            .swiper-scrollbar-drag{background: #333;}
        }
    }
}


//기본값
@media (max-width:1660px){
    .cart_wrap{ padding: 100px 35px 0 35px; max-width: 100%; }
}
@media (max-width:860px){
    // .cart_wrap{padding-top: 80px; }
    .cart_swiperBox{
        .cart_swiper{ padding-left: 0px;
            .cart_swiper_txt{padding: 0 15px;}
        }
    }
}



//슬라이드 버튼
@media (min-width:860px) and (max-width:1023px){
    .cart_swiperBox{
        .cart_swiper{
            .swiper-button-prev{display: block; color: #052c65; @include solid(1px,#052c65);
                padding: 7px 22px 10px 8px;
                &::after {font-size: 1.7rem; }
            }
            .swiper-button-next{display: block; color: #052c65; @include solid(1px,#052c65);
                padding: 7px 20px 10px 10px;
                &::after {font-size: 1.7rem; }
            }
        }
    }

}
@media (max-width:599px){
    .cart_swiperBox{
        .cart_swiper{
            .swiper-button-prev{display: block; color: #052c65; @include solid(1px,#052c65);
                padding: 7px 22px 10px 8px;
                &::after {font-size: 1.7rem; }
            }
            .swiper-button-next{display: block; color: #052c65; @include solid(1px,#052c65);
                padding: 7px 20px 10px 10px;
                &::after {font-size: 1.7rem; }
            }
        }
    }
}



// 탭메뉴 반응형
@media (min-width:500px) and (max-width:610px){
    .cart_wrap{
        .cart_tab{
            .nav-item{ width: 25%; 
                &:last-of-type{width: 100%;}
            }  
        }
    }
}
@media (max-width:499px){
    .cart_wrap{
        .cart_tab{
            .nav-item{ width: 33%; 
                &:last-of-type{width: 35%;}
            }  
        }
    }
}



//반응형
@media (min-width:1280px) and (max-width:1500px){
    .cart_wrap{
        .cartTab_wrap{    
            .allCheck{ width: 60%;}
            .cart_product{width: 60%; 
                .c_p_box{
                    &>div:first-of-type{width: 65%;}
                }
            }
        }
    }
}


@media (min-width:768px) and (max-width:1279px){
    .cart_wrap{
        .cartTab_wrap{ justify-content: center;
            .allCheck{ width: 100%;}
            .cart_product{width: 100%; 
                .c_p_box{
                    &>div:first-of-type{width: 65%;}
                }
            }
            
            .cart_priceBox{width: 100%; display: flex; flex-wrap: wrap; justify-content: center; margin: 30px 0;
                &>div{width: 55%;}
            }
        }

        .today_arrived{
            li{width: 100%; margin-bottom: 10px;}
        }
    }
}


@media (min-width:768px) and (max-width:910px){
    .cart_wrap{
        .cartTab_wrap{ 
            .cart_product{
                .c_p_box{
                    &>div:first-of-type{width: 62%;}
                    &>div:last-of-type{ width: 10%; }
                }
            }
        }
    }
}



@media (min-width:577px) and (max-width:767px){
    .cart_wrap{
        .cartTab_wrap{ justify-content: center;
            .allCheck{ width: 100%;}
            .cart_product{width: 100%; 
                .c_p_box{
                    &>div:first-of-type{width: 50%;}                    
                    &>div:last-of-type{ width: 13%; display: flex; flex-wrap: wrap; flex-direction: row-reverse;
                        .faTrash{align-self: flex-end; }
                        &>div{width: 100%; display: flex; justify-content: space-between; align-items: center;}
                    }
                }
            }
            
            .cart_priceBox{width: 100%; display: flex; flex-wrap: wrap; justify-content: center; margin: 30px 0;
                &>div{width: 60%;}
            }
        }

        .today_arrived{
            li{width: 100%; margin-bottom: 10px;}
        }
    }
}



@media (max-width:576px){
    .cart_wrap{
        .cartTab_wrap{ justify-content: center;
            .allCheck{width: 100%; flex-wrap: wrap;
                &>div{
                    &:last-of-type{ width: 100%; padding-top: 10px;
                        span{margin-left: 0px; margin-right: 10px;}
                    }
                }
            }
            .cart_product{width: 100%; 
                .c_p_box{flex-wrap: wrap;
                    // img{width: 18%;}
                    &>div:first-of-type{width: 50%;}                    
                    &>div:last-of-type{ width: 100%; flex-direction: row; justify-content: flex-end;
                        padding: 20px 0 0 0px;
                        .faTrash{align-self: center; margin-left: 15%;}
                        &>div{width: 30%; display: flex; justify-content: space-between; align-items: center;}
                    }
                }
            }
            
            .cart_priceBox{width: 100%; display: flex; flex-wrap: wrap; justify-content: center; margin: 30px 0;
                &>div{width: 100%;}
            }
        }

        .today_arrived{
            li{width: 100%; margin-bottom: 10px;}
        }
    }
}
